.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

Athos-Identidade-Visual/*
temp.html
192.jpg
Wallpaper.png
office-building-PVEA4R4.jpg