.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

Athos-Identidade-Visual/*
temp.html
assets/img/Wallpaper/legacy-gallery/*
assets/img/Wallpaper/projects/legacy-bathroom/*
assets/img/Wallpaper/projects/legacy-hall/*
assets/img/Wallpaper/projects/legacy-kitchen/*
assets/img/Wallpaper/projects/legacy-movel/*
assets/img/Wallpaper/projects/legacy-room/*
assets/img/Wallpaper/legacy-video/*

pages/index.html